<p id="notice"><%= notice %></p>

<h1>Ngos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Telephone</th>
      <th>Website</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ngos.each do |ngo| %>
      <tr>
        <td><%= ngo.name %></td>
        <td><%= ngo.address %></td>
        <td><%= ngo.telephone %></td>
        <td><%= ngo.website %></td>
        <td><%= ngo.description %></td>
        <td><%= link_to 'Show', ngo %></td>
        <td><%= link_to 'Edit', edit_ngo_path(ngo) %></td>
        <td><%= link_to 'Destroy', ngo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ngo', new_ngo_path %>
