<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @template.event %>
</p>

<p>
  <strong>Level:</strong>
  <%= @template.level %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
