<!-- MODALS -->
<!-- EDIT PROFILE -->
<div class="ui modal" id="editingProfile">
  <div class="header">
    Edit Profile
  </div>
  <div class="content">
    <%= form_for (@user), html: { class: "ui form", role: "form" } do |f| %>

    <div class="profile-image-container">
      <%= image_tag(current_user.profile_image) %>
      <%= f.file_field :profile_pic%>
    </div>

    <div class="field">
      <%= f.label :first_name %></br>
      <%= f.text_field :first_name, placeholder: @user.first_name %>
    </div>

    <div class="field">
      <%= f.label :last_name %></br>
      <%= f.text_field :last_name, placeholder: @user.last_name %>
    </div>

  </div>
  <div class="actions">
    <%= f.submit class: "ui yellow button"%>
  </div>
  <%end %>
</div>

<!-- ADDING EVENT -->
<div class="ui modal" id="addingEvent">
  <div class="header">
    Add Event
  </div>
  <div class="content">
    <% @event = Event.new %>
    <%= form_for (@event), html: { class: "ui form", role: "form" } do |f| %>

    <div class="field">
      <%= f.label :event_name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :start_date %>
      <%= f.date_field :start_date %>
    </div>
    <div class="field">
      <%= f.label :end_date %>
      <%= f.date_field :end_date %>
    </div>
    <div class="field">
      <%= f.label :start_time %>
      <%= f.time_select :start_time %>
    </div>
    <div class="field">
      <%= f.label :duration_in_hours%>
      <%= f.number_field :duration, :step => 0.01  %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :vacancy %>
      <%= f.number_field :vacancy %>
    </div>
    <div class="field">
      <%= f.label :education_level_id %></br>
      <%= f.select :education_level_id, EducationLevel.all.collect {|x| [x.description, x.id]}, {} %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: "ui yellow button"%>
  </div>
  <%end %>
</div>

<!-- EDIT SCHOOL -->
<% if (@user.usertype == 3) %>
  <div class="ui modal" id="editingSchool">
    <div class="header">
      Edit School
    </div>
    <div class="content">
    <!-- SNIPPET TO BE PLACED HERE -->
    <%= form_for (@student), html: { class: "ui form", role: "form" } do |f| %>
      <div class="field">
        <p>Select your School </p>
        <%= f.select :school_id, School.all.collect {|x| [x.name, x.id]}, {}, class: "ui search dropdown" %>
      </div>
      </br>
      <div class="field">
        <p>Select your level </p>
        <%= f.select :level_id, Level.all.collect {|x| [x.description, x.id]}, {}, class: "ui search dropdown" %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit class: "ui yellow button"%>
    </div>
      <%end %>
  </div>
<% end %>

<!-- EDIT SCHOOL INSTITUTION -->
<% if (@user.usertype == 2) %>
  <div class="ui modal" id="editingSchoolInstitution">
    <div class="header">
      Edit Institution Details
    </div>
    <div class="content">
    <%= form_for (@school), html: { class: "ui form", role: "form" } do |f| %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :address %>
        <%= f.text_field :address %>
      </div>
      <div class="field">
        <%= f.label :telephone %>
        <%= f.text_field :telephone %>
      </div>
      <div class="field">
        <%= f.label :website %>
        <%= f.text_field :website %>
      </div>
      <div class="field">
        <%= f.label :education_level %>
        <%= f.select :education_level_id, EducationLevel.all.collect {|x| [x.description, x.id]}, {}, class: "ui search dropdown" %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit class: "ui yellow button"%>
    </div>
      <%end %>
  </div>
<% end %>
