<%= form_for(user) do |f| %>
<% if user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

  <ul>
    <% user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>

<div class="form-group">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>

<div class="form-group">
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</div>

<div class="form-group">
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</div>

<div class="form-group">
  <%= f.label :type, class: "control-label col-md-2" %>
    <div class="col-md-2">
      <%= f.radio_button :usertype, 2 %>
      <%= label :usertype, "School User"%>
    </div>
    <div class="col-md-2">
      <%= label :usertype, "Student"%>
      <%= f.radio_button :usertype, 3 %>
    </div>
    <div class="col-md-2">
      <%= label :usertype, "NGO User"%>
      <%= f.radio_button :usertype, 4 %>
    </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-md-10">
    <br><%= f.submit class: "btn btn-primary"%>
  </div>
</div>
<% end %>
