<p id="notice"><%= notice %></p>

<h1>Welcome <%=current_user.first_name%></h1>

<div class="ui grid stackable">
  <div class="four wide column apple">
    <div class="ui secondary vertical pointing menu" id="profileMenu">
      <a class="item menuScroll active" id="userProfile">User Profile</a>
      <!-- CONDITIONALS MENU BAR -->
      <!-- SCHOOL -->
      <% if current_user.usertype == 2 %>
        <a class="item menuScroll" id="teacherSchoolProfile">Institution Profile</a>
        <a class="item menuScroll" id="schoolStudentProfiles">Students</a>
        <a class="item menuScroll" id="eventsList">Events</a>
        <a class="item menuScroll ngoList" id="ngoCards">NGO Partners</a>
        <!-- STUDENT -->
      <% elsif current_user.usertype == 3 %>
        <a class="item menuScroll" id="schoolProfile">Institution Profile</a>
        <a class="item  menuScroll" id="studentCards">Cards</a>
        <a class="item menuScroll ngoList" id="ngoCards">NGO Partners</a>
      <!-- NGO -->
      <% elsif current_user.usertype == 4 %>
        <a class="item menuScroll" id="ngoProfile">Institution Profile</a>
      <% end %>
    </div>
  </div>
  <div class="twelve wide column apple" id="profileInput">
    <table class="ui basic table">
      <tbody>
        <tr>
          <td><b>First Name:</b></td>
          <td><%=@user.first_name%></td>
        </tr>
        <tr>
          <td><b>Last Name:</b></td>
          <td><%=@user.last_name%></td>
        </tr>
        <tr>
          <td><b>Email:</b></td>
          <td><%=@user.email%></td>
        </tr>
        <tr>
          <td><b>User Type:</b></td>
          <% if @user.usertype == 1 %>
            <td>Admin user</td>
          <% elsif @user.usertype == 2 %>
            <td>School user</td>
          <% elsif @user.usertype == 3 %>
            <td>Student user</td>
          <% elsif @user.usertype == 4 %>
            <td>Ngo user</td>
          <% end %>
        </tr>
        <tr>
      </tbody>
    </table>
    <button id="editProfile" class="ui yellow button right floated editButton">Edit</button>
    <!-- </br>
    </br>
    <table class="ui basic table">
      <tbody>
          <td><b>School:</b></td>
          <td><%=@user.school%></td>
        </tr>
      </tbody>
    </table>
    <button id="editSchool" class="ui yellow button right floated editButton">Edit</button>
 -->
  </div>
</div>

<!-- MODALS -->
<!-- EDIT PROFILE -->
<div class="ui modal" id="editingProfile">
  <div class="header">
    Edit Profile
  </div>
  <div class="content">
    <%= form_for (@user), html: { class: "ui form", role: "form" } do |f| %>
      <div class="field">
        <%= f.label :first_name %></br>
        <%= f.text_field :first_name, placeholder: @user.first_name %>
      </div>

      <div class="field">
        <%= f.label :last_name %></br>
        <%= f.text_field :last_name, placeholder: @user.last_name %>
      </div>

      <div class="field">
        <%= f.label :email %></br>
        <%= f.text_field :email, placeholder: @user.email%>
      </div>
    </div>
    <div class="actions">
      <%= f.submit class: "ui inverted yellow button"%>
    </div>
  <%end %>
</div>

<!-- EDIT SCHOOL -->
<div class="ui modal" id="editingSchool">
  <div class="header">
    Edit School
  </div>
  <!-- SNIPPET TO BE PLACED HERE -->
  <%= form_tag student_path(@student), method: :patch, action: :update, html: { class: "ui form", role: "form" } do |f| %>
    <div class="content">
      <div class="field">
        <%= f.label :school %></br>
        <%= collection_select(:school_id, :name, School.all, :id, :name) %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit class: "ui inverted yellow button"%>
    </div>
  <%end %>


</div>
