<div class="row">
  <div class="ui card">
    <div class="content">
      <div class="header"><%= @event.name %></div>
      <div class="meta">Level Information</div>
      <div class="meta"><%= @event.start_date%> to <%= @event.end_date%> </div>
    </div>
    <div class="content">
      <div class="description">
        <p><b>Start Time:</b> <%= @event.start_time %> </p>
        <p><b>Duration:</b> <%= @event.duration %> hours</p>
        <p><b>Capacity:</b> <%= @event.vacancy %></p>
        <p><b>Vacancy:</b> <%= @event.vacancy - @signup %></p>
        <% if @current_user.usertype == 2 %>
          <p><b>Status:</b>
            <% if @event.status == 0%>
            Pending
            <% elsif @event.status == 1%>
            Re-work
            <% elsif @event.status == 2%>
            Approved
            <% end %>
          </p>
        <% end %>
        <p>
          <b>Description:</b></br>
          <%= @event.description %>
        </p>
      </div>
    </div>
      <% if current_user.usertype == 2 %>
        <div class="extra content">
          <a class="right floated" id="editEvent">
            <i class="edit icon"></i>
            Edit
          </a>
      </div>
    <% end %>
  </div>
</div>

<% if current_user.usertype == 2 %>
  <div class="row">
    <div class="ui secondary vertical pointing menu" id="profileMenu">
      <a class="item menuScroll active" id="eventTasks">Tasks</a>
      <a class="item menuScroll" id="studentSignedUp">Students</a>
    </div>
  </div>
<% elsif current_user.usertype ==3 %>
  <% if Card.find_by(:student_id => @current_user.student.id, :template_id => @template.id) %>
    <button class="ui teal button submissionButton">Joined!</button>
  <%else %>
    <% @card = Card.new %>
    <%= form_for(@card) do |f| %>
      <div class="actions">
          <%= f.text_field :student_id, value: @current_user.student.id, type: "hidden"%>
          <%= f.text_field :template_id, value: @template.id, type: "hidden"%>
          <%= f.text_field :completion, value: 0 , type: "hidden"%>
          <%= f.submit "Join", class: "ui yellow button submissionButton"%>
      </div>
    <% end %>
  <% end %>
<% end %>

<!-- EDIT PROFILE -->
<div class="ui modal" id="editingEvent">
  <div class="header">
    Add Event
  </div>
  <div class="content">
    <%= form_for (@event), html: { class: "ui form", role: "form" } do |f| %>
    <div class="field">
      <%= f.label :event_name %>
      <%= f.text_field :name, placeholder: @event.name %>
    </div>
    <div class="field">
      <%= f.label :start_date %>
      <%= f.date_field :start_date, placeholder: @event.start_date  %>
    </div>
    <div class="field">
      <%= f.label :end_date %>
      <%= f.date_field :end_date, placeholder: @event.end_date  %>
    </div>
    <div class="field">
      <%= f.label :start_time %>
      <%= f.time_select :start_time, placeholder: @event.start_time  %>
    </div>
    <div class="field">
      <%= f.label :duration_in_hours%>
      <%= f.number_field :duration, :step => 0.01, placeholder: @event.duration   %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, placeholder: @event.description  %>
    </div>
    <div class="field">
      <%= f.label :vacancy %>
      <%= f.number_field :vacancy, placeholder: @event.vacancy  %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: "ui yellow button"%>
  </div>
  <%end %></div>
