<div class="row">
  <div class="ui card">
    <div class="content">
      <div class="actions">
        <p><b>Status: </b><p>
        <% if @event.status == 1 %>
          <h3>Waiting for Approval</h3>
            <%= form_for @event, :url => event_approval_path(@event) do |f| %>
              <%= f.number_field :status, value: 3, type: "hidden"%>
              <%= f.submit "Approve it", class: "ui green button submissionButton"%><br/><br/>
            <% end %>
            <%= form_for @event, :url => event_approval_path(@event) do |f| %>
              <%= f.number_field :status, value: 2, type: "hidden"%>
              <%= f.submit "Send it for rework", class: "ui yellow button submissionButton"%>
            <% end %>
        <% elsif @event.status == 2 %>
          <h3>Rework required</h3>
          <button class="ui yellow button disabled submissionButton">Sent for rework</button>
        <% elsif @event.status == 3 %>
          <h3>Approved</h3>
          <button class="ui green button disabled submissionButton">Approved</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
