
<div class="ui grid stackable container">
  <div id="renderingPartials">
    <%= render "partials/flash" %>
  </div>

  <div class="four wide column apple">
    <% if current_user.usertype == 2 %>
    <%= render "events/eventsendforapproval" %>
    <% end %>

    <%= render "events/edittemplatebar" %>

    <% if current_user.usertype == 4 %>
    <%= render "events/eventapproval" %>
    <% end %>
  </div>

  <div class="twelve wide column apple" id="taskListInput">

    <% if [2,3,4].include? current_user.usertype %>
      <% if current_user.usertype == 2 %>
        <%= render "events/schooleventsshow" %>
      <% elsif current_user.usertype == 3 %>
        <%= render "events/studenteventsshow" %>
      <% else current_user.usertype == 4 %>
        <%= render "events/ngoeventsshow" %>
      <% end %>
    <% end %>
  </div>
</div>
