<p id="notice"><%= notice %></p>

<h1>Welcome <%=current_user.first_name%></h1>

<div class="ui grid stackable">

  <div class="four wide column apple">
    <%= render "partials/edittemplatebar" %>
  </div>

  <div class="twelve wide column apple" id="taskListInput">
    <div class="ui link cards">

      <div class="card">
        <div class="image">
          <img src="/images/avatar2/large/matthew.png">
        </div>
        <div class="content">
          <div class="header">Matt Giampietro</div>
          <div class="meta">
            <a>Friends</a>
          </div>
          <div class="description">
            Matthew is an interior designer living in New York.
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Joined in 2013
          </span>
          <span>
            <i class="user icon"></i>
            75 Friends
          </span>
        </div>
      </div>

    </div>
  </div>

</div>



<!-- <p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Vacancy:</strong>
  <%= @event.vacancy %>
</p>

<p>
  <strong>School:</strong>
  <%= @event.school.name %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %> -->
