<p id="notice"><%= notice %></p>

<h1>Welcome <%=current_user.first_name%></h1>

<div class="ui grid stackable">

  <div class="four wide column apple">
    <%= render "partials/edittemplatebar" %>
  </div>

  <div class="twelve wide column apple" id="taskListInput">
    
  </div>
</div>



<!-- <p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Vacancy:</strong>
  <%= @event.vacancy %>
</p>

<p>
  <strong>School:</strong>
  <%= @event.school.name %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %> -->
