
<div class="row">
  <div class="ui card">
   <div class="content">
     <div class="header"><%= @card.template.event.name %></div>
     <div class="meta"><%=@card.template.level.description%></div>
   </div>
   <div class="content">
     <div class="description">
       <p><b>Date:</b></p>
       <p><%= @card.template.event.start_date%> to <%= @card.template.event.end_date%> </p>
       <p><b>Start Time:</b> </p>
       <p><%= @card.template.event.start_time %> </p>
       <p><b>Duration:</b></p>
       <p> <%= @card.template.event.duration %> hours</p>
       <p><b>Description:</b></p>
      <p><%= @card.template.event.description %></p>
     </div>
   </div>
 </div>
</div>

<div class="row">
  <div class="ui card">
    <div class="content">
      <%= form_for(@card) do |f| %>
        <div class="actions">
          <% if @card.completion == 0 %>
            <p><b>Status: </b><p>
              <h3>Draft</h3>
            <%= f.text_field :completion, value: "1", type: "hidden"%>
            <%= f.submit "Send for Approval", class: "ui yellow button submissionButton"%>
          <% elsif @card.completion == 1 %>
            <p><b>Status: </b><p>
              <h3>Waiting for Approval</h3>
            <%= f.submit "Sent", class: "ui yellow button disabled submissionButton"%>
          <% elsif @card.completion == 2 %>
            <p><b>Status: </b></p>
            <h3>Rework required</h3>
            <%= f.text_field :completion, value: "1", type: "hidden"%>
            <%= f.submit "Send for Approval", class: "ui yellow button submissionButton"%>
          <% elsif @card.completion == 3 %>
            <p><b>Status: </b><p>
              <h3>Rework required</h3>
            <%= f.submit "Completed", class: "ui green button disabled submissionButton"%>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
