<div class="ui grid stackable">

  <div class="four wide column apple">
    <%= render "partials/eventcard" %>
  </div>


  <div class="twelve wide column apple">
    <table class="ui selectable celled padded yellow table" id="appendStudentTasks">
      <thead>
        <tr>
          <th class="one wide"></th>
          <th class="five wide">Task Name</th>
          <th class="five wide">Description</th>
          <th class="four wide">Picture</th>
          <th class="one wide">Edit</th>
        </tr>
      </thead>
      <tbody>

        <%= @card.inspect %>
        <%= @tasktrackers.inspect %>
        <% @tasktrackers.each_with_index do |tasktracker, index| %>
          <tr>
            <!-- <th> <%= index + 1 %> </th> -->
            <th> <%= tasktracker.id %> </th>
            <th> <%=tasktracker.task.description %> </th>
            <th> <%=tasktracker.description %> </th>
            <th> <img src="https://res.cloudinary.com/blueyoghurt/image/upload/w_200,h_200,c_lfill/ + <%=tasktracker.picture%>" class="ui rounded image eventStudentImage"> </th>
            <th><button class="ui button studentTaskButton" id="TaskButton<%= tasktracker.id %>"><i class="edit icon studentEditTaskButton"></i></button></th>
          </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</div>

  <!-- MODAL FOR AMENDING TASK COMPLETION STATUS -->
  <% @tasktrackers.each do |tasktracker| %>
    <div class="ui modal" id="editingTaskButton<%= tasktracker.id %>">
      <div class="header">
        Edit Task
      </div>
      <div class="content">
        <% @tasktracker = Tasktracker.find(tasktracker.id) %>
        <%= form_for (@tasktracker), html: { class: "ui form", role: "form" } do |f| %>

        <div class="field">
          <%= f.label :description %></br>
          <%= f.text_area :description, placeholder: @tasktracker.description %>
        </div>

        <div class="profile-image-container">
          <%= image_tag(@tasktracker.picture) %>
          <%= f.file_field :picture%>
        </div>

      </div>
      <div class="actions">
        <%= f.submit class: "ui yellow button"%>
      </div>
      <%end %>
    </div>
  <%end %>
