<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @card.student %>
</p>

<p>
  <strong>Template:</strong>
  <%= @card.template %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
